@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
#main,
#liveGraph {
    max-width: 1800px !important;
    width: 1800px;
    height: 1000px;
}